- @no_breadcrumb_container = true
- @no_container = true
- @html_class = "group-epics-roadmap-html"
- @body_class = "group-epics-roadmap-body"
- @content_wrapper_class = "group-epics-roadmap-wrapper"
- @content_class = "group-epics-roadmap"
- breadcrumb_title _("Epics Roadmap")
- epics_limit_feature = 'epics_limit_warning_dismissed'
- sub_epics_feature_available = @group.feature_available?(:subepics)
- allow_sub_epics = sub_epics_feature_available ? 'true' : 'false'
- page_title _("Epics Roadmap")
- add_page_specific_style 'page_bundles/roadmap'

- has_filters_applied = params[:label_name].present? || params[:author_username].present? || params[:search].present?

- if @epics_count != 0
  - if !Feature.enabled?(:async_filtering, @group)
    = render 'shared/epic/search_bar', type: :epics, show_roadmap_presets: true, hide_extra_sort_options: true

  - if @epics_count > Groups::RoadmapController::EPICS_ROADMAP_LIMIT && show_callout?(epics_limit_feature)
    .warning_message.mb-0.js-epics-limit-callout{ role: 'alert', data: { uid: epics_limit_feature } }
      %button.js-close-callout.close{ type: "button", target: ".js-epics-limit-callout", "aria-hidden": true, "aria-label": _("Close") }
        = sprite_icon("close")
      %p
        = s_("Some of your epics may not be visible. A roadmap is limited to the first 1,000 epics, in your selected sort order.")
      %a.btn.btn-outline-warning#js-learn-more{ "href" => "https://docs.gitlab.com/ee/user/group/roadmap/" }
        = _("Learn more")

  #js-roadmap{ data: { epics_path: group_epics_path(@group, format: :json),
    group_id: @group.id,
    full_path: @group.full_path,
    empty_state_illustration: image_path('illustrations/epics/roadmap.svg'),
    has_filters_applied: "#{has_filters_applied}",
    new_epic_endpoint: group_epics_path(@group),
    group_labels_endpoint: group_labels_path(@group, format: :json),
    group_milestones_endpoint: group_milestones_path(@group, format: :json),
    preset_type: roadmap_layout,
    epics_state: @epics_state,
    sorted_by: @sort,
    allow_sub_epics: allow_sub_epics } }

- else
  = render 'shared/empty_states/roadmap'
